* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Poppins";
  color: #ffffff;
  height: 100vh;
  background: linear-gradient(90deg, #fc4949, #ffffff);
}

/* Sidebar */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden;
  flex: 1;
  background-image: linear-gradient(#2b2d42, #fc4949);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.kliqspaces {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.kliqspace {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  width: 100%;
  padding: 1em 2em;
  align-items: center;
  justify-content: start;
}

.kliqspace-name {
  font-size: 1em;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  align-content: left;
}
.sidebar button {
  margin: 1em;
  font-size: 1em;
  padding: 0.5em 2em;
}
.self-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.profile-picture {
  border-radius: 50%;
}
button {
  border-radius: 30px;
  border: none;
  color: #ffffff;
  font-family: "Poppins";
  padding: 0.5em;
}

/* Main Content */

.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dashboard-title {
  margin: 2em;
}
.dashboard-btn {
  background-color: #ef9999;
  font-size: 1.1em;
  margin: 2em;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dashboard-btn {
  background-color: #ffffff;
}
.dashboard {
  margin-left: 300px;
  flex: 4;
  /* background-image: linear-gradient(90deg, #fc4949, #ffffff); */
}
.profiles {
  display: inline-block;
}
.profile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: left;
  background-color: #2b2d42;
  border-radius: 1em;
  padding: 2em;
  margin: 2em;
}
.profile-picture {
  width: 7em;
  height: 7em;
}
a i {
  color: #ffffff;
  height: 2em;
  width: 2em;
  float: right;
}
